@using DHDomtica.Models
@using WebGrease.Activities
<h1 class="my-4">Account opties</h1>
<div class="list-group">

    @*Index is orderstatus in deze code*@
    @Html.ActionLink("Statistieken", "Index", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Producten bewerken", "AdminChangeProducts", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Gebruikers bewerken", "AdminChangeUsers", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Wachtwoord veranderen", "AdminChangePassword", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @Html.ActionLink("Log uit", "", "Admin", null, new { @class = "list-group-item child-list-group-item" })
    @*Het knopje log uit moet nog veranderd worden naar een functie die uitlogt*@
</div>