@model DHDomtica.ViewModels.PasswordRecoveryViewModel

@{
    ViewBag.Title = "Wachtwoord resetten";
}

<h2>Wachtwoord aanpassen</h2>

@using (Html.BeginForm("PasswordRecovery", "PasswordRecovery", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="label-danger">@ViewBag.OtherPasswordMessage</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Verstuur wachtwoord reset" button class="btn btn-outline-success my-2 my-sm-0" />
        </div>
    </div>

    <p>
        @Html.ActionLink("Terug naar login pagina", "SignInPage", "SignIn", null, new { @class = "child-text" })
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


