@model DHDomtica.Models.UserPasswordChange

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Wachtwoord aanpassen</h2>
@*Dit wordt een wachtwoord reset pagina, want normaal wachtwoord veranderen kan niet met deze User class*@
@*Misschien wordt dit een put?*@
@using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="label-success">@ViewBag.SuccessMessage</label>
                @*Message moet veranderd worden in een andere message, zoals changedpasswordmessage.*@
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChangePassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ChangePassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ChangePassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChangeConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ChangeConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ChangeConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Verander wachtwoord" button class="btn btn-outline-success my-2 my-sm-0" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


