@model MainCategoryViewModel
@using System.Web.DynamicData
@using DHDomtica.Models
@using System.Web.Mvc.Html;
@using Antlr.Runtime

@{
    ViewBag.Title = "CategoryPage";
}

<h2>@Model.Category.Name</h2>

<div class="row">
    @{
        foreach (Product p in Model.Products)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@p.Image" alt="Afbeelding">
                    <div class="card-body">
                        <h4>@Html.ActionLink(p.Name, "ProductDetails", "Store", new { id = p.ID }, new { @class = "card-title" })</h4>
                        <p>&#8364 @p.Price </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        }
    }
</div>
@*Previous page button*@
@if (ViewBag.PageId > 1)
{
    @Html.ActionLink("Vorige", "Pagination", "Store", new { categoryId = Model.Category.ID, pageId = (ViewBag.PageId - 1) }, null)
}

@*Everything in between*@
@for (int i = 1; i <= (ViewBag.maxPages); i++)
{
    if (i != ViewBag.PageId)
    {
        @Html.ActionLink(i.ToString(), "Pagination", "store", new {categoryId = Model.Category.ID, pageId = i}, null)
    }
    else
    {
        <span>@i</span>
    }
}

@*Next page button*@
@Html.ActionLink("Volgende", "Pagination", "Store", new { categoryId = Model.Category.ID, pageId = (ViewBag.PageId + 1) }, null)
