@model DHDomtica.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<div class="col-lg-10">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="@Html.DisplayFor(model => model.Image)" alt="Image">
        <div class="card-body">
            <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
            <h3 class="card-text">@Html.DisplayFor(model => model.MainCategory.Name)</h3>
            <h4> @Html.DisplayFor(model => model.Price)</h4>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars*@
            <hr>
            <a href="#" class="btn btn-success">In winkelwagen</a>
        </div>
    </div>
</div>
<hr/>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @*@Html.ActionLink("Back to List", "Categories", new { id = Model.MainCategory.ID }, new { @class = "btn btn-success" })*@
    @Html.ActionLink("Terug", "Pagination", new { categoryId = Model.MainCategory.ID, pageId = (ViewBag.PageId) }, new { @class = "btn btn-success" })
</p>
