@model DHDomtica.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<h3>@ViewBag.Message</h3>
<div class="col-lg-10">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="@Html.DisplayFor(model => model.Image)" alt="Image">
        <div class="card-body">
            <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
            <h3 class="card-text">@Html.DisplayFor(model => model.MainCategory.Name)</h3>
            <h4> @Html.DisplayFor(model => model.Price)</h4>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        4.0 stars*@
            <hr>
            @using (Html.BeginForm("AddToCart", "Store"))
            {
                @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="product" value="product" class="btn btn-default" />
                </div>
            </div>*@

                <a id="btn_add" href="@Url.Action("AddToCart", "Store", new {product = Model.ID })" class="btn btn-info btn-lg" style="margin-left:60px">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                </a>
            }
        </div>
    </div>
</div>
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) categoryId = ViewBag.CategoryId|*@
    @*@Html.ActionLink("Back to List", "Categories", new { id = Model.MainCategory.ID }, new { @class = "btn btn-success" })*@
    @Html.ActionLink("Terug", "Pagination", "Store", new { categoryId = Model.MainCategory.ID, pageId = ViewBag.PageId }, new { @class = "btn btn-success" })
</p>
