@model IEnumerable<DHDomtica.Models.Product>
@using DHDomtica.Models


@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
<h3>@ViewBag.Message</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCategory.Name)
        </th>
        <th>
            @Html.Label("Aantal producten")
        </th>
        <th>
            @Html.Label("Prijs")
        </th>
        <th></th>
    </tr>
    @* *@
    @if ((List<ItemModel>)Session["cart"] != null)
    {
        foreach (ItemModel item in (List<ItemModel>)Session["cart"])
        {
            <tr>

                <td>@Html.ActionLink(@item.Product.Name, "ProductDetails/"+item.Product.ID)</td>
                @{ string ShorterString = item.Product.Description;
                    if (ShorterString.Length > 100)
                    {
                        ShorterString = ShorterString.Substring(0, 100);
                    }
                }
                <td>@ShorterString</td>
                <td>€@item.Product.Price</td>
                <td><img class="card-img-top img-fluid" src="@item.Product.Image" alt="Image"></td>
                <td>@Html.ActionLink(@item.Product.MainCategory.Name, "Pagination/"+@item.Product.MainCategory.ID+"/1")</td>
                <td>@item.Quantity
                <button id="+" class="label label-primary" onclick="location.href='@Url.Action("AddToCart", "Store", new { product = item.Product.ID })'">+</button>
                <button id="-" class="label label-primary" onclick="location.href='@Url.Action("RemoveOne", "Store", new { product = item.Product.ID })'">-</button>
                </td>
                <td>€@(item.Product.Price * item.Quantity)</td>
                <td>
                    <button id="btn_remove" class="label label-primary" onclick="location.href='@Url.Action("Remove", "Store", new { product = item.Product.ID })'"><img src="~/Icons/delete.png" height="30" width="30" /></button>
                </td>
            </tr>
            
        }

        <tr>
            <td align="right" colspan="6">Totaal</td>
            <td>
                @{
                    List<ItemModel> products = (List<ItemModel>)Session["cart"];
                    var total = products.Sum(item => item.Product.Price * item.Quantity);
                }
                €@total
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
