@model IEnumerable<DHDomtica.Models.Product>


@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
<h3>@ViewBag.Message</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCategory.Name)
        </th>
        <th>
            @Html.Label("Aantal")
        </th>
        <th>
            @Html.Label("Totale prijs")
        </th>
        <th></th>
    </tr>
    @{ float Totaal = 0;}
    @foreach (var item in Model)
    {

        int Aantal = 1;
        float TotPrijs = Aantal * item.Price;
        

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @{ string ShorterString = item.Description;
                if (item.Description.Length > 100)
                {
                    ShorterString = item.Description.Substring(0, 100);
                }

            }
            <td>
                @Html.DisplayFor(modelItem => ShorterString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.Name)
            </td>
            <td>
                @Html.Label(Aantal.ToString())
                
            </td>
            <td>
                @Html.Label("€" + TotPrijs.ToString())

            </td>
        </tr>
        Totaal += TotPrijs;
                
        
    }

        <tr><td>@Html.Label("€" + Totaal.ToString())</td></tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
